#DATABASE_URL=
DB_TYPE=mariadb
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=

PORT=

JWT_SECRET=

PDNS_BASE_URL=
PDNS_API_KEY=
REDIS_URL=redis://localhost:6379
FRONTEND_URL=
PANEL_URL=
NODE_ENCRYPTION_KEY=
NODE_PQ_ENCRYPTION_SEED=
WINGS_ALLOW_INVALID_CERT=false

SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_TLS_ALLOW_INVALID=false
SMTP_USER=
SMTP_PASS=''
MAIL_FROM=""
ORIGIN=
RP_ID=

MAILCOW_API_URL=
MAILCOW_API_KEY=
MAILCOW_API_SECRET=
MAILBOX_DOMAIN=
MAIL_DOMAIN=
MAILBOX_INBOUND_SECRET=
MAILCOW_TIMEOUT_MS=30000
MAILCOW_RETRIES=2

MAILBOX_SMTP_HOST=mail.${MAILBOX_DOMAIN}
MAILBOX_SMTP_PORT=587
MAILBOX_SMTP_SECURE=false
MAILBOX_IMAP_HOST=mail.${MAILBOX_DOMAIN}
MAILBOX_IMAP_PORT=993
MAILBOX_IMAP_SECURE=true

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
HACKCLUB_CLIENT_ID=
HACKCLUB_CLIENT_SECRET=
HACKCLUB_REDIRECT_URI=

EU_ID_DISABLED=true 

CLOUDFLARE_API_TOKEN=""
CLOUDFLARE_BASE_ZONE=""
CLOUDFLARE_ACCOUNT_ID=""
CLOUDFLARE_CREATE_SUBZONE=0

DB_LOG_QUERIES=true

DB_MAX_QUERY_MS=200

HACKCLUB_CLIENT_ID=
HACKCLUB_CLIENT_SECRET=
HACKCLUB_REDIRECT_URI=
EXIT_ON_UNCAUGHT=0

ELYSIA_HOURLY_RESTART=true

CAPTCHA_SECRET=
#Use openssl rand -hex 32 
CAPTCHA_INVISIBLE_SECRET=
#Use openssl rand -hex 32 
CAPTCHA_TTS_VOICE=en
CAPTCHA_TTS_SPEED=150

INVOICE_LOGO_PATH=./frontend/public/assets/icons/logo.png

COMPANY_NAME=EclipseSystems
COMPANY_ADDRESS="Principal Office, 30 N Gould St Ste R, Sheridan, WY 82801, USA"
INVOICE_ISSUED_FROM_NAME="EclipseSystems under Misiu LLC"
INVOICE_ISSUED_FROM_ADDRESS="30 N Gould St Ste R"
INVOICE_ISSUED_FROM_CITY="Sheridan, WY 82801, USA"
INVOICE_ISSUED_FROM_EMAIL="sales@ecli.app"

EXPORT_MAX_FILE_BYTES=0

DOVECOT_MASTER_USER=
DOVECOT_MASTER_PASS=
DOVECOT_MASTER_DOMAIN=mailcow.local
IMAP_FETCH_CRON=*/1 * * * *

ANTIABUSE_AI_ENABLED=true
ABUSE_REPORT_EMAIL=abuse@ecli.app