[Unit]
Description=EcliPanel Backend
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/srv/samba/shared/EcliPanel/v3/backend
ExecStart=/root/.bun/bin/bun --watch src/index.ts
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
