BACKEND_URL=https://ecli.app/api
ANTIABUSE_API_KEY=admin_api_key

DETECTOR_NAME=antiabuse-rs
NODE_NAME=

TCPDUMP_CMD="tcpdump -n -l -i any 'tcp[tcpflags] & tcp-syn != 0 and dst port not 22'"

MAP_REFRESH_MS=0
HEARTBEAT_MS=0
WINDOW_MS=0

SLOW_BIG_HIT_THRESHOLD=0
SLOW_IP_THRESHOLD=0
FAST_BIG_HIT_THRESHOLD=0
FAST_IP_THRESHOLD=0
SEQUENTIAL_PORT_TRIGGER=0
UNIQUE_PORTS_THRESHOLD=0

SAFE_PORTS=0
MINING_PORTS=0
MINING_PORT_HIT_THRESHOLD=0
MINING_IP_THRESHOLD=0

ALERT_STRIKES=0
THROTTLE_STRIKES=0
SUSPEND_STRIKES=0
STRIKE_DECAY_MS=0
THROTTLE_CPU_LIMIT_PERCENT=0
THROTTLE_DURATION_SECONDS=0

SUSPEND_COOLDOWN_MS=0