BACKEND_URL=https://ecli.app/api
ANTIABUSE_API_KEY=admin_api_key

DETECTOR_NAME=antiabuse-rs
NODE_NAME=

TCPDUMP_CMD="tcpdump -n -l -i any 'tcp[tcpflags] & tcp-syn != 0 and dst port not 22'"

MAP_REFRESH_MS=0
HEARTBEAT_MS=0
WINDOW_MS=0

SLOW_BIG_HIT_THRESHOLD=0
SLOW_IP_THRESHOLD=0
FAST_BIG_HIT_THRESHOLD=0
FAST_IP_THRESHOLD=0
FAST_THRESHOLD_WINDOW_MS=30000
SLOW_THRESHOLD_WINDOW_MS=300000
SEQUENTIAL_PORT_TRIGGER=0
UNIQUE_PORTS_THRESHOLD=0

SAFE_PORTS=0
MINING_PORTS=0
MINING_PORT_HIT_THRESHOLD=0
MINING_IP_THRESHOLD=0
UDP_FLOOD_HIT_THRESHOLD=0
UDP_FLOOD_IP_THRESHOLD=0
AMPLIFICATION_HIT_THRESHOLD=0
AMPLIFICATION_TARGET_THRESHOLD=0

ALERT_STRIKES=0
THROTTLE_STRIKES=0
SUSPEND_STRIKES=0
AUTO_SUSPEND_ENABLED=true
STRIKE_DECAY_MS=0
THROTTLE_CPU_LIMIT_PERCENT=0
THROTTLE_DURATION_SECONDS=0

SUSPEND_COOLDOWN_MS=0
FILE_SCAN_INTERVAL_SECONDS=0
SIGNATURE_RELOAD_INTERVAL_SECONDS=0
DETECTION_COOLDOWN_MS=0
WINGS_VOLUME_PATH=
USE_DOCKER_NETWORK_MAP=true
PORT_SCAN_AUTO_SUSPEND_UNIQUE_PORTS=0

MALWARE_SUSPEND_SIGNATURE_SEVERITY=0
MALWARE_SUSPEND_SIGNATURES=false
MALWARE_REPORT_CAP_PER_SERVER=0
MALWARE_SKIP_PATH_PATTERNS=a,b
MALWARE_SKIP_EXTENSIONS=a,b